
body {
  max-width: 700px;
  margin: 0 auto;
  line-height: 160%;
}

header {
  font-size: 28px;
  font-family: Lora;
  padding: 56px 0px 28px;
}

nav {
  font-size: 14px;
  font-family: Roboto;
  letter-spacing : 0.3px;
  padding: 8px 0px;
}

section {
  font-size: 14px;
  font-family: Roboto;
  letter-spacing : 0.3px;
  padding: 12px 28px;
}

article {
  font-size: 14px;
  font-family: Roboto;
  letter-spacing : 0.3px;
  padding: 12px 28px;
  text-align: justify;
}

header:lang(ko),
nav:lang(ko),
section:lang(ko),
article:lang(ko) {
  font-family: Roboto, Noto Sans KR;
}

header:lang(jp),
nav:lang(jp),
section:lang(jp),
article:lang(jp) {
  font-family: Roboto, Noto Sans JP;
}

footer {
  font-size: 12px;
  font-family: Lora;
  line-height: 160%;
  letter-spacing : 0.2px;
  padding: 12px 30px 32px;
}


ul {
  padding: 0px 28px;
}

li {
  list-style: square;
  line-height: 160%;
  margin: 10px 0px;
}

.right {
  float: right;
  font-size: 12px;
  margin-right: -28px;
}



a:link { color: green; text-decoration: none;}
a:visited { color: green; text-decoration: none;}