body {
  max-width: 640px;
  margin: 0 auto;
  line-height: 160%;
}

h1,h2,h3 {
  font-family: Roboto;
  padding: 8px 0px 0px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 16px;
}

ul {
  padding: 0px 20px;
}

li {
  list-style: square;
  line-height: 160%;
  margin: 10px 0px;
}

td {
  vertical-align: top;
  min-width: 80px;
  border: none!important;
}

th {
  border: none!important;
}

.right {
  float: right;
  font-size: 14px;
  margin-right: -24px;
}

hr {
  width: 30%;
  margin: 24px auto 24px;
}

a:link { color: green; text-decoration: none;}
a:visited { color: green; text-decoration: none;}