

body {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 30px;
	font-family: 'Lora', serif;
}

nav {
	padding: 0 5px;
}

section {
	padding: 5px 5px;
}



.katex {
	font-size: 1em !important;
}
a:link { color: darkred; text-decoration: none;}
a:visited { color: darkred; text-decoration: none;}