<!DOCTYPE html>
<html>


	<head>
		<title>
			{% if page.title %}
				{{ page.title }}
			{% else %} 
				{{ site.name }} &mdash; {{ site.description }}
			{% endif %}
		</title>

	
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>


		<!-- link -->
		<link rel='stylesheet' href='../_includes/style.css'>
		<link rel='stylesheet' href='https://fonts.googleapis.com/	css?family=Martel&display=swap'>

		<!-- Math setting -->
		{% if page.mathjax %}
			{% include mathjax.html %}
		{% else %}
			{% include katex.html %}
		{% endif %}

	</head>




	<body>
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
	</body>
</html>
